		.big_table {
			width: 700px!important;
			font-size: 12px;
			border: 1px solid #666;
		}
		
		.small_table {
			width: 350px;
			font-size: 12px;
			float: left;
		}
		
		th,
		td {
			height: 22px;
			line-height: 22px;
			padding: 1px 5px;
			border: 1px solid #666;
			min-width: 30px;
		}
		
		td {
			text-align: center;
		}
		
		th {
			text-align: left;
		}
		
		.right {
			text-align: right;
		}
		
		.left {
			text-align: left;
		}
		
		.two_row {
			height: 50px;
		}
		
		.thr_row {
			height: 70px;
		}